@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
  background-color: #f9fafb;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.truncate-3-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.corner-border {
  position: relative;
}

.corner-border::before,
.corner-border::after {
  content: '';
  position: absolute;
  background-color: transparent;
}

.corner-border::before {
  top: 0;
  left: 0;
  border-top: 5px solid #ff0000;
  border-left: 5px solid #ff0000;
  width: 50px;
  height: 50px;
}

.corner-border::after {
  bottom: 0;
  right: 0;
  border-bottom: 5px solid #ff0000;
  border-right: 5px solid #ff0000;
  width: 50px;
  height: 50px;
}

.show {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

.slick-prev,
.slick-next {
  font-size: 24px; /* Increase arrow size */
  color: #333; /* Dark color for visibility */
  z-index: 1; /* Ensure arrows are above other elements */
  top: 50%; /* Align vertically */
  transform: translateY(-50%); /* Center vertically */
}

.slick-prev {
  margin-left: -35px; /* Position outside the slider */
}

.slick-next {
  margin-right: -20px; /* Position outside the slider */
}

/* Optional: Add a background to make arrows more visible */
.slick-prev:before,
.slick-next:before {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 8px;
}

/* Hide arrows on mobile screens */
@media screen and (max-width: 768px) {
  .slick-prev,
  .slick-next {
    display: none;
  }

  .slick-next {
    margin-right: 50px; /* Position outside the slider */
    z-index: -1;
  }
  .slick-prev {
    margin-left: -50px; /* Position outside the slider */
  }
}

.cookify-theme-custom {
  /* General */
  --c-text-color: #000000;
  --c-text-title-color: #ee2e24; /* Red color similar to the website's theme */
  --c-text-by-color: #ffffff;
  --c-border-color: #000000;

  --c-bg-primary-color: #ffffff; /* Darker shade for less contrast */
  --c-bg-secondary-color: #ffffff; /* Slightly lighter shade for secondary elements */
  --c-bg-overlay-color: rgba(14, 14, 14, 0.85); /* Semi-transparent overlay */

  /* Collapse */
  --c-c-bar-bg-color: #0e0e0e; /* Very dark shade for less contrast */
  --c-c-bar-bg-hover-color: #2d2d2d;
  --c-c-bar-text-color: #ffffff;
  --c-c-bar-border-radius: 0.5rem;
  --c-c-bar-badge-bg-color: #ff0d00;
  --c-c-bar-badge-text-color: #ffffff;
  --c-c-bar-badge-border-radius: 0.5rem;
  --c-c-bar-toggle-off-color: #373741;
  --c-c-bar-toggle-on-color: #ff0d00;
  --c-c-bar-toggle-knob-color: #ffffff;
  --c-c-bar-toggle-ring-color: rgba(238, 46, 36, 0.5);

  /* Refferenze */
  --c-ref-border-color: #2d2d2d;
  --c-ref-border-radius: 0.5rem;

  /* Button */
  --c-btn-strong-bg-color: #ff0d00;
  --c-btn-strong-bg-hover-color: #d32f2f;
  --c-btn-strong-text-color: #ffffff;
  --c-btn-week-bg-color: #1a1a1a;
  --c-btn-week-bg-hover-color: #333333;
  --c-btn-week-text-color: #ffffff;
  --c-btn-border-radius: 0.5rem;

  /* Scrollbar */
  --c-sb-width: 10px;
  --c-sb-track-color: #ffffff;
  --c-sb-thumb-color: #ff0d00;
  --c-sb-thumb-hover-color: #d32f2f;
  --c-sb-thumb-border-width: 2px;
  --c-sb-thumb-border-radius: 5px;

  /* Opener */
  --c-open-bg-color: #ff0d00;
  --c-open-bg-hover-color: #d32f2f;
  --c-open-text-color: #ffffff;
  --c-open-border-radius: 9999px;
}
